html, body {
  margin: 0;
  height: 100%;
  /* background: url("wheat.png"); */
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.header {
  padding: 20px 20px 20px 20px;
  background-color: grey;
  opacity: 0.4;
  text-align: right;
  font-size: 20px;
}

.header ul {
  display: inline;
  list-style-type: none;
}

.header ul li {
  display: inline;
}

.header ul a {
  color: black;
  font-weight: 400px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

.header ul a:hover {
  color: grey;
  text-decoration-color: #000;
  border-bottom: solid 1px grey;
  padding-bottom: 5px;
}

.content {
  height: 400px;
  width: 400px;
  color: #00c1af;
}

.content ul {
  text-decoration: none;
  list-style-type: none;
}

.content img {
  height: 400px;
  width: 400px;
  overflow: hidden;
}
