/* html, body {
  background-color: #000;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  border: 2px solid #ccc;
}

.wrapper {
  margin: 0 auto;
  display: grid;
  background-color: red;
  grid-template-areas:
    "header header",
    "nav main",
    "nav main";
}

.header {
  height: 100px;
  grid-area: header;
  border: 1px solid white;
  width: 100%;
  text-align: center;
}

ul {
  display: inline-block;
  list-style-type: none;
}

ul a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
} */

html, body {
  margin: 0;
  height: 100%;
  background: url("test-link.jpg") no-repeat;
  background-size: cover;
}

/* body {
  border: 1px solid black;
  min-width: 600px;
  margin: 0 0;
  background-color: #000;
  overflow: hidden;
} */

.header {
  /* border: 1px solid black; */
  padding: 10px 10px 10px 10px;
  text-align: right;
  font-size: 20px;
  /* background-color: #ccc; */
}

.header ul {
  display: inline;
  /* border: 1px solid black; */
  list-style-type: none;
}

.header ul li {
  display: inline;
}

.header ul a {
  color: #A1321A;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

.header ul a:hover {
  text-decoration-color: #000;
  border-bottom: solid 1px black;
  padding-bottom: 5px;
}
