html, body {
  margin: 0;
  height: 100%;
  background-color: #00c1af;
  /* background: url("wheat.png"); */
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.header {
  padding: 20px 20px 20px 20px;
  /* background-color: grey; */
  /* opacity: 0.4; */
  text-align: right;
  font-size: 20px;
}

.header ul {
  display: inline;
  list-style-type: none;
}

.header ul li {
  display: inline;
  font-weight: 800px;
}

.header ul a {
  color: white;
  font-weight: 400px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

.header ul a:hover {
  color: #000;
  text-decoration-color: #000;
  border-bottom: solid 1px black;
  padding-bottom: 5px;
}

.content {
  height: 400px;
  width: 400px;
  color: #00c1af;
  margin: 0 auto;
}

.content ul {
  text-decoration: none;
  list-style-type: none;
}

.content img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid white;
}
