html, body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

table {
    height: 300px;
    width: 300px;
    margin-left: 15px;
}

table td {
    padding: 20px;
    border: 1px solid black;
}

h1 {
    text-align: center;
    font-weight: lighter;
}

#tile-holder {
    width: 640px;
    height: 150px;
    margin: 80px auto;
}

button {
    width: 80px;
    height: 80px;
    display: inline;
    margin-left: 50px;
}
