/*
Name: Tim Flannagan
Date: 12/17/18

Sources:
1. Centering images in div: https://stackoverflow.com/questions/18428997/center-image-element-in-parent-div
                            https://stackoverflow.com/questions/11856150/css-to-center-a-image-horizontally
*/

html, body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: lighter;
}

#scrabble-board {
    margin: 25px 0 25px 0;
}

#scrabble-board img {
    height: 80px;
    margin: 15px;
    width: 73.33px;
}

.scrabble-rack {
    min-height: 200px;
    min-width: 250px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../externals/board/scrabble_rack.png");
    background-repeat: no-repeat;
    background-position: center;
}

.scrabble-rack img {
    height: 80px;
}

.footer-buttons {
    margin-top: 25px;
}
