/*
Name: Tim Flannagan
Date: 12/17/18

Sources:
1. Centering images in div: https://stackoverflow.com/questions/18428997/center-image-element-in-parent-div
                            https://stackoverflow.com/questions/11856150/css-to-center-a-image-horizontally
*/

html, body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

table {
    height: 150px;
    width: 100%;
    /* margin-left: 15px; */
}

table td {
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

h1 {
    text-align: center;
    font-weight: lighter;
}

#tile-holder {
    width: 640px;
    height: 150px;
    margin: 80px auto;
}

.scrabble-rack {
    border: 5px solid black;
    height: 300px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../externals/scrabble_rack.png");
    background-repeat: no-repeat;
    background-position: center;
}

.scrabble-rack {
    /* border: 5px solid black; */
    min-height: 200px;
    min-width: 250px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../externals/scrabble_rack.png");
    background-repeat: no-repeat;
    background-position: center;
}

.scrabble-rack img {
    height: 80px;
}


button {
    width: 80px;
    height: 80px;
    display: inline;
    margin-left: 50px;
}
