html, body {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("ptrbackground.jpg");
}

#wrapper {
	display: grid;
	grid-template-columns: 200px 2.4fr 1.6fr;
	grid-template-areas:
		"header header header"
		"nav main resort"
		"nav footer footer";
	min-width: 600px;
	width: 80%;
	margin: 0 auto;
	margin-top: 1.5em;
}

#wrapper header {
	background-image: url("sunset.jpg");
	background-size: 80%;
	color: #fff;
	grid-area: header;
	text-align: left;
	padding-left: 1.0em;
}

#wrapper nav {
	background-color: rgb(157, 199, 225);
	grid-area: nav;
}

#wrapper nav ul li {
	list-style-type: none;
	font-size: 1.3em;
	margin: 0 0 2px 0;
}

#wrapper nav ul li a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

#content {
	background-color: #FFFFFF;
	grid-area: main;
	grid-column: 2/4;
	padding-left: 2.0em;
}

#content img {
	float: left;
	padding-right: 1.5em;
}

#content h2 {
	color: #3399CC;
	font-size: 2.0em;
}

#content ul {
	list-style-image: url("marker.gif");
}

#wrapper footer {
	background-color: #FFFFFF;
	color: grey;
	font-size: 1.0em;
	font-style: italic;
	grid-area: footer;
	padding-left: 1.5em;
	padding-bottom: 0.5em;
}

.resort {
	color: rgb(131, 160, 187);
	font-weight: bold;
}
