header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

html, body {
	/* height: 100%; */
}

html {
	display: table;
	margin: auto;
}

body {
	width: 80%;
	min-width: 600px;
	display: table-cell;
	vertical-align: middle;
}

/* .wrapper {
	color: #666666;
	min-width: 600px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
} */

header {
	color: #FFFFFF;
	margin-left: 5px;
	text-align: left;
	background-image: url("sunset.jpg");
	background-size: 100%;
	background-color: #FFFFFF;
}

/* nav {
	height: 100px;
	width: 100px;
	border: 1px solid red;
	margin-left: 5px;
	float: left;
	background: orange;
} */

nav {
	margin-right: 10em;
}

nav ul {
	font-size: 1.2em;
}

nav a:visited {
	color: #344873;
}

nav a:hover {
	color: #FFFFFF;
}

h1 {
	background: #344873 url("sunset.jpg");
	background-size: 100% 100%;
	background-color: #00569F;
	color: #fff;
	margin-bottom: 10px;
	margin-left: 5px;
	padding: 10px;
}
h2 {
	color: #3399CC;
}

h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	overflow: auto;
}

#wrapper ul {
	width: 250px;
	background-color: #111;
	padding: 0;
	margin: 0;
	display: block;
	border: 1px solid white;
	position: fixed;
}

#resort {
	width: 750px;
	background-color: #777;
	display: block;
	float: left;
	border: 1px solid white;
}

#contact {
	margin-bottom: 50px;

	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	font-family: Georgia, "Times New Roman", serif;
}
