/*
Sources:
1. https://stackoverflow.com/questions/14913677/jquery-validation-plugin-message-style
*/

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: url("../externals/that_new_new.jpg") no-repeat 20%;
    background-size: cover;
    background-position: right;
    color: white;
    font-family: 'Lato', sans-serif;
}

#myform {
    margin-top: 25px;
    height: 450px;
    width: 600px;
}

input {
    margin: 15px;
    height: 30px;
    width: 40%;
}

.ui-slider .ui-slider-handle {
    width:2em;
    left:-.6em;
    /* text-decoration:none; */
    text-align:center;
}

.ui-widget {
    font-family: 'Lato', sans-serif;
}

.ui-widget-content {
    background: blue;
}

table {
    width: 70%;
    height: 500px;
    margin: 20px;
    padding: 30px;
    border-collapse: collapse;
}

table {
  margin-bottom: 60px;
}

table, th, td {
  text-align: center;
}

table tr:first-child td {
  background: black;
  color: white;
}

td:nth-child(1) {
  background: black;
  color: white;
}

td {
  border: 1px solid white;
}

th {
  background-color: grey;
  color: white;
  border: 1px solid white;
}

#submit-button {
  background-color: #008CBA;
  margin-top: 15px;
  border-radius: 5px;
  color: white;
  width: 200px;
  height: 25px;
}

span.arrow {
    /* margin-left: 6px; */
    height:17px;
    color: red;
}
label.error {
    height:17px;
    margin-left:9px;
    padding:1px 5px 0px 5px;
    font-size: medium;
}
